@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
} 

.content {
  display: flex;
  align-items: center;
}
.content img {
  width: 44px;
  height: 42px;
  margin-right: 10px;
}
.content__text {
  display: flex;
  flex-direction: column;
}

#profile-bio{
  margin-top:10px;
}

.timeline .timeline-item {
  padding-bottom:1em;
}
