@import "my-bulma.sass";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
} 

.content {
  display: flex;
  align-items: center;
}
.content img {
  width: 44px;
  height: 42px;
  margin-right: 10px;
}
.content__text {
  display: flex;
  flex-direction: column;
}

.content__action span {
  margin: 0 5px;
}

#profile-bio{
  margin-top:10px;
}

.profile-container {
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  @media screen and (min-width: 1280px) {
    width: 30%;
  }
}
.events-container {
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  @media screen and (min-width: 1280px) {
    width: 70%;
  }
}

.column {
  flex-basis: unset;
}

.timeline .timeline-item {
  padding-bottom:1em;
}

input:invalid {
  border-color: red;
}
